<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head');%>

    <body>
        <%- include('./partials/nav');%>
            <div class="container mt-4">
                <h4>Welcome to G-Shock Home page!</h4>
            </div>
            <%- include('./partials/footer');%>
    </body>

</html>